[client]
default-character-set = utf8

[mysqld]
#slow_query_log = 1
#slow_query_log_file = /Users/dieterprovoost/slow-queries.log
#long_query_time = 0.3
character_set_server = utf8 

[mysql]
default-character-set = utf8
