[client]
default-character-set = utf8

[mysqld]
#slow_query_log = /var/log/slow-queries-log.log
#long_query_time = 0.1
#character-set-database = utf8
character_set_server = utf8 
#collation-server = utf8_general_ci

[mysql]
default-character-set = utf8
